{% extends "::base.html.twig" %}

{% block body -%}
    <h1>Artist list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Firstname</th>
                <th>Birthdate</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in artists %}
            <tr>
                <td><a href="{{ path('artist_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.firstName }}</td>
                <td>{% if entity.birthDate %}{{ entity.birthDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('artist_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('artist_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                    
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

      <a href="{{path('artist_new')}}">New Artist</a><br>
        <div class="pagination">
            {{ knp_pagination_render(artists) }}
        </div>
    {% endblock %}
